// color palette  https://www.color-hex.com/color-palette/7509
$darkblue: #09051e;
$darkgrey: #24262f;
$darkgreen: #25363e;
$softgreen: #56d0ae;
$softyellow: #ecfb77;
// sleek and futuristic https://visme.co/blog/website-color-schemes/
$gunmetal: #2c3531;
$forestgreen: #116466; 
$tan: #d9b08c;
$peach: #ffcb9a;
$mint: #d1e8e2;